<nav class="navbar navbar-expand-sm bg-light shadow-sm">
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link text-uppercase font-weight-bold text-dark" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase font-weight-bold text-dark" routerLink="vehiculos">Autos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase font-weight-bold text-dark" routerLink="gestion">Gestor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase font-weight-bold text-dark" routerLink="api">API</a>
            </li>
        </ul>
    </div>
  </nav>
  